.cmdk-theme-dark {
  --cmdk-primary-color: #a78bfa;
  --cmdk-background-color: #18181b;
  --cmdk-element-title-color: #fafaf9;
  --cmdk-element-background-color: #27272a;
  --cmdk-element-subtitle-color: #a1a1aa;
}

